pipeline/Child Pip Incremental.json
{
	"name": "Child Pip Incremental",
	"properties": {
		"activities": [
			{
				"name": "LKUP_Max_Value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\r\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKUP_MAX_VALUE",
						"type": "DatasetReference",
						"parameters": {
							"Schemaname": {
								"value": "@pipeline().parameters.TableSchema",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "If_New_Record_Exists",
				"description": "if max value is null then initiate Full load or add only adding difference records",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_Max_Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n   equals(pipeline().parameters.LastLoadValue, null),\n   greater(\n       int(activity('LKUP_Max_Value').output.firstRow.MaxValue),\n       int(pipeline().parameters.LastLoadValue)\n   )\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPYSQL_FULL_INC_LOAD_TABLES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName,\n    if(\n        equals(pipeline().parameters.LastLoadValue, null),\n        '', \n        concat(\n            ' WHERE ', pipeline().parameters.WatermarkColumn,\n            ' > ''', pipeline().parameters.LastLoadValue, ''''\n        )\n    )\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LKUP_MAX_VALUE",
									"type": "DatasetReference",
									"parameters": {
										"Schemaname": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLTABLE_PARQ",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "EXEC_UPDATE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "COPYSQL_FULL_INC_LOAD_TABLES",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ABB_Migration"
		},
		"annotations": []
	}
}