pipeline/Parent Pipeline Orchestration Layer.json
{
	"name": "Parent Pipeline Orchestration Layer",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQLTABLE_WATRMARK DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SSMS_TBLBKP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_SQLTbl",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQLTABLE_WATRMARK DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQLTABLE_WATRMARK DW').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXEC_SQL_INCREMENTAL_PIP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ABB_Migration"
		},
		"annotations": []
	}
}